@charset "utf-8";

.f2ctest {
    width: 100%;
    font-size: 24q;
    font-family: textfont-b;
    padding: 4mm;
    margin-bottom: 4mm;
}

.f2ctest.cyan {
    background: linear-gradient(90deg,
            hsl(180, 100%, 41%) 0%,
            hsl(180, 100%, 41%) 30%,
            hsl(0, 0%, 100%) 100%);
}

.f2ctest.magenta {
    background: linear-gradient(90deg,
            hsl(300, 100%, 41%) 0%,
            hsl(300, 100%, 41%) 30%,
            hsl(0, 0%, 100%) 100%);
}